.section {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h4 {
    font-weight: 800;
    margin: 0 0 10px;
    opacity: .9;
  }
}