body {
    margin: 0;
}

#layout-container {
    display: flex;
    height: 100vh;

    aside {
        width: 20%;
        background-color: #f2f2f2;
        padding: 1rem;
    }

    main {
        width: 80%;
        padding: 1rem;
    }
}